/* General Styling */
/* Base Styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

header {
  background: #003366;
  color: #fff;
  padding: 1rem 2rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
}

#hero {
  background: linear-gradient(135deg, #003366, #00509e);
  color: #fff;
  text-align: center;
  padding: 4rem 2rem;
}

#hero h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#hero p {
  font-size: 1.2rem;
}

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  float: left;
  margin-right: 10px;
}

#about {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

/* Projects Section */
#projects {
  padding: 4rem 1rem;
  background-color: #b5adad;
}

#projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project-list-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  margin-top: 20px;
  padding: 0 20px; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.project-card {
  width: 300px;
  height: 450px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card a button {
  background-color: #00509e;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.project-card a button:hover {
  background-color: #002244;
  transform: scale(1.05);
}

.project-card a.text-link {
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #00509e;
  font-size: 0.9rem;
  font-weight: normal;
  transition: color 0.3s ease;
  text-align: center;
}

.project-card a.text-link:hover {
  color: #002244;
  text-decoration: underline;
}

#contact {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background: #00509e;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #002244;
  transform: scale(1.05);
  transition: all 0.3s;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #003366;
  font-size: 0.9rem;
  color: white;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }

  .project-card {
    margin: 1rem auto;
    padding: 1.5rem;
    width: 90%;
  }

  form {
    width: 90%
  }
}