[submodule "guess-the-word"]
	path = guess-the-word
	url = https://github.com/drewzin777/guess-the-word.git
[submodule "excursion"]
	path = excursion
	url = https://github.com/drewzin777/excursion.git
