# Node.js dependencies

node_modules/
guess-the-word/
img/guess-the-word.jpg

# Logs
logs/
*.log

# Environment variables
.env

# System files
.DS_Store

# Cache and temp files
.cache/
.next/
dist/
tmp/

# Build output
build/
out/

# Others
.vscode/

# Local Netlify folder
.netlify
