# Node.js dependencies

node_modules/



# Logs
logs/
*.log

# Environment variables
.env

# System files
.DS_Store

# Cache and temp files
.cache/
.next/
dist/
tmp/

# Build output
build/
out/

# Others
.vscode/

# Local Netlify folder
.netlify
